body{
background-color: #582f0e;
line-height: 1.1;
font-family: 'roboto mono', sans-serif;

}

main {

  width: 90%;
  margin: 0 auto;
}

h1 {
 color: darkgrey;
 text-align: center;
 font-weight: normal;
 text-decoration: silver underline wavy;
 font-size: 1.2rem;
 
}

h2 {
  color: #936639;
  font-weight: normal;
  
}

.grey-text {

  color: darkgrey;
  font-size: 1.2rem;
}

h3 {

  color: #b6ad90;
  font-weight: normal;
  font-size: 1.2rem;
}

h4 {

}

h5 {


}

h6 {


}

a {
  text-decoration: none;
}

div {
  color: green;
  background-color: #faedcd;
  font-size: 0.9rem;
  position: static;
  border: 3px solid goldenrod;
  margin-top: 10px;
  padding-left: 20px;
  padding-top: 20px;
}

nav {
  
  font-size: 1.5em;
}



nav .navbar, .navbar li {
  background-color: #faedcd;
  display: block;



}

@media (min-width: 43rem) {

  nav .navbar, .navbar li {

    display: inline-block;
  }
  
}

p {
  
  color: green;
  font-size: 0.9rem;
}

li {
  color: green;
  font-size: 0.9rem;
}

@media (min-width: 43rem){
  p {
    font-size: 1.2rem;
  }
  li {

    font-size: 1.2rem;
  }

  h1 {
    font-size: 2rem;
  }
  
  .grey-text {

    font-size: 1.7rem;
  }


}



#container {
  background-color: #faedcd;
  width: 800px;
  height: 40px;
  margin: 0 auto;
  border: 3px solid goldenrod;
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
}

#container #nav-div {

  width: 200px;
  height: 15px;
  border: none;
  font-weight: bold;
  padding-top: 0px;
}

[type='radio'] {
 
}




/* CLASSES & ID */

  .bold {
    font-weight: bold;
  }
  
  .red-text {
    color: red;
  }

  .green-text {

    color: green;
  }

  .orange-text {
    color: orange;
  }
 


  button {

    color: goldenrod;
    background-color: aquamarine;
  }


  #unique-button {
    background-color: rgb(172, 95, 152);
    
  }
  
div img {

width: 600px;
height: auto;
padding-left: 700px;

}



 
 